.chat-container {
    width: 90%;
    z-index: 10;
    padding-top: 5rem;
    position: relative;
    // top: 0;
    // left: 8rem;

    select,
    input,
    button {
        margin: 15px;
        padding: 8px;

        border-radius: 4px;
    }
}

// .title-wrapper {
//     margin: 1rem;
//     display: flex;
//     justify-content: center;
// }

// .my-chat div,
// .other-chat div,
// .secret-chat div {
//     max-width: 70%;
//     padding: 8px;
//     border-radius: 8px;
//     margin: 5px;
//     word-wrap: break-word;
//     transition: all 1s;
// }

// .secret-chat div {
//     background-color: #ffcccb !important;
//     color: #333;
//     text-align: left;
//     margin-right: auto;
//     transition: all 1s;
// }

// .my-chat {
//     text-align: right;
//     transition: all 1s;
// }

// .my-chat div {
//     background-color: rgb(247, 214, 53);
//     margin-left: 0;
//     padding: 1rem;
//     border-radius: 0.4rem;
//     display: inline-block;
//     transition: all 1s;
// }

// .other-chat div {
//     background-color: white;
//     display: inline-block;
//     padding: 0.4rem;
//     border-radius: 0.4rem;
//     transition: all 1s;
// }

// /* 채팅창 입장 안내 문구 */
// .notice {
//     text-align: center;
//     color: white;
//     font-size: 12px;
//     transition: all 1s;
// }

// .input-container {
//     // border: 1px solid #ccc;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
// }

// #message {
//     width: 70%;
//     display: flex;
//     border: 1px solid #ccc;
// }

// #send-btn:hover {
//     box-shadow: 3px 3px 5px #888888; /* 그림자 설정: 수평 거리, 수직 거리, 흐림 정도, 색상 */
//     transition: 0.4s all;
// }
