.summary-card-layout {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 20px 10px;
}

.summary-paper {
    min-width: 100px;
    height: 100px;
    padding: 0 1.5rem;

    display: flex;
    gap: 1rem;
    // justify-content: space-between;
    .summary-title-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .summary-title {
            font-size: 12px;
        }
    }

    img {
        width: 3em;
    }
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
