@import '../abstracts/variables';
@import '../abstracts/utils';
@import '~include-media/dist/include-media';

//=== 공통 ===
button {
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}

//=== 버튼 크기별 ===
// sm md lg xl

.btn-sm {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 10px;
}

.btn-md {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
}

.btn-lg {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 1.6rem;
    width: 59rem;
}

// [임시]
.btn-fixed {
    background-color: $color-primary;
    color: $color-white;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30rem;
    z-index: 10;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
        0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
        0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
        0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);

    @include media('<550px') {
        width: 70%;
        font-size: 16px;
        padding: 15px 5px;
        left: 50%;
    }
}

// //--- 둥둥 띄워져 있는 효과 ---
// .btn-fixed-floating {
//     background-color: $color-primary;
//     color: $color-white;
//     border: 0;
//     border-radius: 10px;
//     font-size: 1.1rem;
//     font-weight: bold;
//     display: flex;
//     align-items: center;
//     height: 2.8rem;
//     width: 28rem;
//     z-index: 10;
//     justify-content: center;
//     margin: auto;
//     animation: bounce 2s ease-in-out forwards;
//     animation-iteration-count: infinite;
//     // box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
//     //     0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
//     //     0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
//     //     0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);

//     box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);

//     @include media('<550px') {
//         width: 70%;
//         font-size: 16px;
//         padding: 15px 5px;
//         left: 50%;
//     }
// }
// @keyframes bounce {
//     0% {
//         transform: translateY(0px);
//     }
//     50% {
//         transform: translateY(15px);
//     }
// }

// @keyframes bounce-shadow {
//     0% {
//         width: 1%;
//         height: 2px;
//         opacity: 0.1;
//     }
//     50% {
//         width: 80%;
//         height: 6px;
//         opacity: 0.3;
//     }
//     100% {
//         width: 1%;
//         height: 0px;
//         opacity: 0;
//     }
// }

//-- 좌우 효과 ---
.btn-fixed-rl {
    padding: 0;
    // margin: 0;
    border: 0;
    border-radius: 10px;

    font-weight: bold;
    width: 30rem;
    z-index: 10;
    justify-content: center;
    margin: auto;
    background-color: inherit;
    box-shadow: 0 0 0;
    // box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    //     0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
    //     0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
    //     0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);
    // color: crimson;

    @include media('<550px') {
        width: 100%;
        font-size: 10px !important;
        padding: 15px 5px;
        left: 50%;
        // font-family: 'Chewy', cursive;
    }
}

.btn-fixed-rl-join {
    padding: 0;
    border: 0;
    border-radius: 10px;

    font-weight: bold;
    width: 30rem;
    z-index: 10;
    justify-content: center;
    margin: auto;
    background-color: inherit;
    box-shadow: 0 0 0;

    @include media('<550px') {
        width: 100%;
        font-size: 10px !important;
        padding: 15px 5px;
        left: 50%;
        // font-family: 'Chewy', cursive;
    }
}

.shadow:before,
.shadow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: red;
    z-index: -1;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.4;
    transform: rotateX(0);
    transform-origin: center 30px;
    filter: blur(1px);
    animation: shadowLeft 2s ease-in-out alternate infinite;
    transition: all 1s cubic-bezier(0.875, -0.555, 0.19, 1.64);
}

@keyframes shadowLeft {
    to {
        opacity: 0.1;
        filter: blur(5px);
    }
}

.shadow:after {
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.1;
    filter: blur(5px);
    animation: shadowRight 2s ease-in-out alternate infinite;
}

@keyframes shadowRight {
    to {
        opacity: 0.4;
        filter: blur(1px);
    }
}

.btn-fixed-rl:focus .shadow:before,
.btn-fixed-rl:focus .shadow:after {
    transform: rotateX(180deg);
}

.vert {
    transform: translateY(-20px);
    animation: vert 1s ease-in-out alternate infinite;
}

@keyframes vert {
    to {
        transform: translateY(-25px);
    }
}

.floating {
    background-color: transparent;
    -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
    transform: rotateY(-3deg) skewY(-3deg);
    animation: swing 2s cubic-bezier(0.42, 0, 0.58, 1) alternate infinite;
}

@keyframes swing {
    to {
        transform: rotateY(3deg) skewY(3deg);
    }
}

.floating span {
    display: block;
    padding: 10px 0;
    border-radius: 100px;
    // font-size: 30px;
    font-size: 1.2rem;
    // background: rgb(255, 255, 255);
    background: #94897c;
    color: white;
    // background: linear-gradient(-45deg, #ffc794, #c7c7c7);
    transition: all 1s cubic-bezier(0.875, -0.555, 0.19, 1.64);
    transform: translateY(-3px) translateZ(5px) rotateX(0);
    width: 100%;

    @include media('<550px') {
    }
}

span.back {
    position: absolute;
    top: 0;
    left: 0;
    background: #aaa;
    transform: translateY(3px) translateZ(-5px) rotateX(-180deg);
}

span {
    display: block;
}

.btn-fixed-rl:hover .front {
    transform: translateY(3px) translateZ(-5px) rotateX(180deg);
    background: #aaa;
}

.btn-fixed-rl:hover .back {
    transform: translateY(-3px) translateZ(5px) rotateX(0);
    background: #94897c;
}

.btn-fixed-rl-join:hover .front {
    transform: translateY(3px) translateZ(-5px) rotateX(180deg);
    background: #aaa;
}

.btn-fixed-rl-join:hover .back {
    transform: translateY(-3px) translateZ(5px) rotateX(0);
    background: #94897c;
}

// .btn-fixed-floating-shadow {
//     display: block;
//     width: 20%;
//     height: 0px;
//     position: absolute;
//     bottom: -26px;
//     left: 0;
//     right: 0;
//     margin: auto;
//     background: #a3a3a3;
//     border-radius: 50%;
//     animation: bounce-shadow 2s ease-in-out forwards;
//     animation-iteration-count: infinite;
// }

.plus-fixed {
    bottom: 20%;
    right: 13%;
    bottom: 15%;
    z-index: 10;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;

    @include media('<800px') {
        right: 10%;
        bottom: 20%;
        @include box(70px);
    }
}

.plus-text {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: white;
    padding: 1rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */

    position: relative;
    bottom: 30%;
    left: 4%;
}

.plus-fixed-wrapper:hover {
    transition: all 0.4s;
    .plus-text {
        opacity: 1;
    }
}

.done-btn {
    height: 4rem;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media('<800px') {
        width: 20%;
        font-size: 1rem;
    }
}

.cmt-edit-btn {
    white-space: nowrap;
}
.cmt-del-btn {
    white-space: nowrap;
}
