.group-list {
    background-color: white;
    padding: 0 1.4rem 1rem 1.4rem;

    .group-name {
        font-size: 1.2rem;
        font-weight: bold;
        // padding-bottom: 0.8rem;
        cursor: pointer;
    }

    svg {
        cursor: pointer;
    }
}

.chat-list-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    // max-height: 60rem;
    min-height: 800px;
    overflow-y: auto;

    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;

    background: white;
    box-shadow: 0 0 8rem 0 rgba(black, 0.1),
        0rem 2rem 4rem -3rem rgba(black, 0.5);

    li {
        border: 1px solid var(--light);
    }
}

.chat-list-close-icon-wrapper {
    justify-content: end;
    display: flex;
    background-color: var(--light);
}

.chat-list-close-icon {
    padding: 0.3rem 0.8rem;
}

.chat-list-count-wrapper {
    // text-align: center;
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        color: rgb(189, 185, 185);
        font-size: 0.8rem;
        padding: 0.3rem 0;
    }
}

.chat-list-count {
    // position: absolute;
    z-index: 1;
    // top: -80px;
    // right: 0px;
    width: 20px;
    height: 20px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #fb583c;
    color: #fff;
    animation: zoom 3s 3s both infinite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;

    img {
        // float: left;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50%;
        // object-fit: cover;
    }

    .preview {
        font-size: 14px;
        display: inline-block;
        overflow: hidden !important;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--grey);
    }
}

.chat-list {
    background-color: rgb(30, 30, 30);
    height: 70vh;
    padding: 10px;
    overflow-y: auto;
    /* 화면 길어지면 스크롤 생김 */
}

.chat-list div {
    margin-top: 3px;
}

.chat-list div div {
    display: inline-block;
    padding: 6px;
}

@mixin font-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
@mixin font {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

.chat-list-container {
    width: 100%;
    height: 75%;
    background-color: white;

    .left {
        height: 100%;
        border: 1px solid var(--light);
        background-color: white;

        .top {
            width: 100%;
            height: 96px;
            padding: 29px;
            &:after {
                display: block;
                // width: 80%;
                height: 1px;
                content: '';
                background-color: var(--light);
            }
        }

        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid var(--light);
            background-color: var(--blue);
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
        .people {
            margin-left: -1px;
            border-right: 1px solid var(--light);
            border-left: 1px solid var(--light);
            width: calc(100% + 2px);
            .person {
                position: relative;
                width: 100%;
                padding: 10px;
                cursor: pointer;
                background-color: white;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 80%;
                    height: 1px;
                    content: '';
                    background-color: var(--light);
                    transform: translate(-50%, 0);
                }
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .name {
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--dark);
                    @include font-bold;
                }
                .time {
                    font-size: 14px;
                    position: absolute;
                    top: 16px;
                    right: 10%;
                    padding: 0 0 5px 5px;
                    color: var(--grey);
                    background-color: var(--white);
                }
                .preview {
                    font-size: 14px;
                    display: inline-block;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: var(--grey);
                }
                &.active,
                &:hover {
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 0;
                    background-color: var(--blue);
                    width: calc(100% + 2px);
                    padding-left: calc(10% + 1px);
                    span {
                        color: var(--white);
                        background: transparent;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    // .right {
    //     position: relative;
    //     float: left;
    //     width: 62.4%;
    //     height: 100%;
    //     .top {
    //         width: 100%;
    //         height: 47px;
    //         padding: 15px 29px;
    //         background-color: #eceff1;
    //         span {
    //             font-size: 15px;
    //             color: var(--grey);
    //             .name {
    //                 color: var(--dark);
    //                 @include font-bold;
    //             }
    //         }
    //     }

    //         .chat {
    //             position: relative;
    //             display: none;
    //             overflow: hidden;
    //             padding: 0 35px 92px;
    //             border-width: 1px 1px 1px 0;
    //             border-style: solid;
    //             border-color: var(--light);
    //             height: calc(100% - 48px);
    //             justify-content: flex-end;
    //             flex-direction: column;
    //             &.active-chat {
    //                 display: block;
    //                 display: flex;
    //                 .bubble {
    //                     transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    //                     @for $i from 1 through 10 {
    //                         &:nth-of-type(#{$i}) {
    //                             animation-duration: 0.15s * $i;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //         .write {
    //             position: absolute;
    //             bottom: 29px;
    //             left: 30px;
    //             height: 42px;
    //             padding-left: 8px;
    //             border: 1px solid var(--light);
    //             background-color: #eceff1;
    //             width: calc(100% - 58px);
    //             border-radius: 5px;
    //             input {
    //                 font-size: 16px;
    //                 float: left;
    //                 width: 347px;
    //                 height: 40px;
    //                 padding: 0 10px;
    //                 color: var(--dark);
    //                 border: 0;
    //                 outline: none;
    //                 background-color: #eceff1;
    //                 @include font;
    //             }
    //             .write-link {
    //                 &.attach {
    //                     &:before {
    //                         display: inline-block;
    //                         float: left;
    //                         width: 20px;
    //                         height: 42px;
    //                         content: '';
    //                         background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');
    //                         background-repeat: no-repeat;
    //                         background-position: center;
    //                     }
    //                 }
    //                 &.smiley {
    //                     &:before {
    //                         display: inline-block;
    //                         float: left;
    //                         width: 20px;
    //                         height: 42px;
    //                         content: '';
    //                         background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png');
    //                         background-repeat: no-repeat;
    //                         background-position: center;
    //                     }
    //                 }
    //                 &.send {
    //                     &:before {
    //                         display: inline-block;
    //                         float: left;
    //                         width: 20px;
    //                         height: 42px;
    //                         margin-left: 11px;
    //                         content: '';
    //                         background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png');
    //                         background-repeat: no-repeat;
    //                         background-position: center;
    //                     }
    //                 }
    //             }
    //         }
    //         .bubble {
    //             font-size: 16px;
    //             position: relative;
    //             display: inline-block;
    //             clear: both;
    //             margin-bottom: 8px;
    //             padding: 13px 14px;
    //             vertical-align: top;
    //             border-radius: 5px;
    //             &:before {
    //                 position: absolute;
    //                 top: 19px;
    //                 display: block;
    //                 width: 8px;
    //                 height: 6px;
    //                 content: '\00a0';
    //                 transform: rotate(29deg) skew(-35deg);
    //             }
    //             &.you {
    //                 float: left;
    //                 color: var(--white);
    //                 background-color: var(--blue);
    //                 align-self: flex-start;
    //                 animation-name: slideFromLeft;
    //                 &:before {
    //                     left: -3px;
    //                     background-color: var(--blue);
    //                 }
    //             }
    //             &.me {
    //                 float: right;
    //                 color: var(--dark);
    //                 background-color: #eceff1;
    //                 align-self: flex-end;
    //                 animation-name: slideFromRight;
    //                 &:before {
    //                     right: -3px;
    //                     background-color: #eceff1;
    //                 }
    //             }
    //         }
    //         .conversation-start {
    //             position: relative;
    //             width: 100%;
    //             margin-bottom: 27px;
    //             text-align: center;
    //             span {
    //                 font-size: 14px;
    //                 display: inline-block;
    //                 color: var(--grey);
    //                 &:before,
    //                 &:after {
    //                     position: absolute;
    //                     top: 10px;
    //                     display: inline-block;
    //                     width: 30%;
    //                     height: 1px;
    //                     content: '';
    //                     background-color: var(--light);
    //                 }
    //                 &:before {
    //                     left: 0;
    //                 }
    //                 &:after {
    //                     right: 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    // @keyframes slideFromLeft {
    //     0% {
    //         margin-left: -200px;
    //         opacity: 0;
    //     }
    //     100% {
    //         margin-left: 0;
    //         opacity: 1;
    //     }
    // }
    // @-webkit-keyframes slideFromLeft {
    //     0% {
    //         margin-left: -200px;
    //         opacity: 0;
    //     }
    //     100% {
    //         margin-left: 0;
    //         opacity: 1;
    //     }
    // }
    // @keyframes slideFromRight {
    //     0% {
    //         margin-right: -200px;
    //         opacity: 0;
    //     }
    //     100% {
    //         margin-right: 0;
    //         opacity: 1;
    //     }
    // }
    // @-webkit-keyframes slideFromRight {
    //     0% {
    //         margin-right: -200px;
    //         opacity: 0;
    //     }
    //     100% {
    //         margin-right: 0;
    //         opacity: 1;
    // }
}
