.rdw-image-modal-btn {
    padding: 0;
}

.rdw-embedded-modal-btn-section {
    padding: 0;
}

.rdw-image-modal-upload-option {
    // display: block;
    // text-align: center;
    font-size: 12px;
}

.rdw-embedded-modal-link-section {
    width: 12rem;
}

.rdw-embedded-modal-size {
    gap: 2rem;
}

.rdw-embedded-modal-btn {
    width: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rdw-embedded-modal {
    height: 13rem;
}

.rdw-link-modal-input {
    width: 13rem;
}

#openLinkInNewWindow {
    width: 2rem;
}

.rdw-link-modal-target-option > span {
    display: inline;
}
.rdw-link-modal-buttonsection {
    width: 21rem;
    display: flex;
}

.rdw-link-modal-btn {
    width: 6rem;
    display: flex;
    align-items: center;
}
