.rdw-image-modal-btn {
    padding: 0;
}

.rdw-embedded-modal-btn-section {
    padding: 0;
}

.rdw-image-modal-upload-option {
    // display: block;
    // text-align: center;
    font-size: 12px;
}
