@import '../../abstracts/variables';

.noti-container {
    width: 90%;
    margin: 1rem;
    border-radius: 10px;
}

.post-list-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    // font-weight: bold;
    font-size: 1rem;
    background-color: $color-white;
    border-radius: 10px;
    margin: 0 2rem;
    .profile-img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
    }
}

.post-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-list-title {
    display: flex;
    align-items: center;
}

.post-list-date {
    color: $color-gray4;
    width: fit-content;
    text-align: right;
}

.post-list-main {
    padding: 1rem 1rem;
}

.post-list-footer {
    display: flex;
    align-items: center;

    img {
        width: 2rem;
        height: 2rem;
    }

    .img-comment {
        margin-right: 0.5rem;
    }

    .img-emoji {
        margin-left: 0.5rem;
    }

    .btn-emoji {
        padding: 0.3rem 0.6rem;
        border: 1px solid $color-white;
        cursor: pointer;
    }

    .btn-emoji:hover {
        // background-color: $color-white;
        border: 1px solid $color-gray5;
    }
}

.cursor {
    cursor: pointer;
}

.moon-wrapper {
    position: relative;
    width: 100%;
    min-height: 50rem;
}

.moon-icon-wrapper {
    height: 5vh;
    display: flex;
    position: sticky;
    bottom: 10%;
    top: 80%;
}

.moon-icon {
    position: absolute;
    border: 0;
    background-color: #f9ca24;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    outline: 0;
    transition: 0.4s;

    right: -5%;
    bottom: -90%;
    // z-index: 10;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.moon-icon.md {
    opacity: 1;
    transform: translateY(0); /* 스크롤 시 위로 이동하는 효과 */

    right: -10%;
    top: -20%;
    // bottom: -50%;
}

.moon-icon.show {
    opacity: 1; /* 스크롤 시 나타나도록 설정 */
    transform: translateY(0); /* 스크롤 시 위로 이동하는 효과 */

    right: -5%;
    // top: -30%;
    bottom: -90%;
}

.hide:hover {
    right: -5%;
    bottom: 80%;
}

// .plus-fixed-wrapper {
//     display: flex;
//     justify-content: flex-end;

//     position: absolute;

//     height: 10vh;
//     position: sticky;
//     bottom: 4%;
//     margin-right: 5rem;
//     z-index: 10;
//     width: 100%;
// }

// .plus-fixed {
//     bottom: 20%;
//     right: 13%;
//     bottom: 15%;
//     z-index: 10;
//     width: 100px;
//     height: 100px;
//     cursor: pointer;
//     border-radius: 50%;

//     @include media('<800px') {
//         right: 10%;
//         bottom: 20%;
//         @include box(70px);
//     }
// }
