@import '../../abstracts/variables';

.noti-container {
    width: 90%;
    margin: 1rem 5rem;
    border-radius: 10px;
}

.post-list-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    // font-weight: bold;
    font-size: 1rem;
    background-color: $color-white;
    border-radius: 10px;
    margin: 0 2rem;
    .profile-img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
    }
}

.post-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-list-title {
    display: flex;
    align-items: center;
}

.post-list-date {
    color: $color-gray4;
    width: fit-content;
    text-align: right;
}

.post-list-main {
    padding: 1rem 1rem;

    img {
        max-width: 40vw;
        padding: 2rem;
        margin: 0 auto;
    }
}

.post-list-footer {
    display: flex;
    align-items: center;

    img {
        width: 2rem;
        height: 2rem;
    }

    .img-comment {
        margin-right: 0.5rem;
    }

    .img-emoji {
        margin-left: 0.5rem;
    }

    .btn-emoji {
        padding: 0.3rem 0.6rem;
        border: 1px solid $color-white;
        cursor: pointer;
    }

    .btn-emoji:hover {
        // background-color: $color-white;
        border: 1px solid $color-gray5;
    }
}

.cursor {
    cursor: pointer;
}

.moon-wrapper {
    position: relative;
    width: 100%;
    min-height: 50rem;
}

.moon-icon-wrapper {
    height: 5vh;
    display: flex;
    position: sticky;
    bottom: 10%;
    top: 80%;

    svg {
        position: absolute;
        right: -2%;
        bottom: -36%;
    }
}

.moon-icon {
    position: absolute;
    border: 0;
    // background-color: #f9ca24;
    // background: linear-gradient(-45deg, #a9a378, #ffd100);
    box-shadow: 10px 7px 13px -4px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    outline: 0;
    transition: 0.4s;

    right: -5%;
    bottom: -90%;
    // z-index: 10;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;

    .moon-write-text {
        color: #929292;
        right: 16%;
        position: relative;
        top: -80%;
        // background: white;
        // border-radius: 14%;
        padding: 0.5rem;
        width: 6rem;
        text-align: center;
        box-shadow: none;
        // box-shadow: 3px 3px 3px;
        border: none;
        z-index: -1;
    }

    svg {
        right: 26%;
        bottom: 26%;
    }
}

.moon-icon.md {
    opacity: 1;
    transform: translateY(0); /* 스크롤 시 위로 이동하는 효과 */

    right: -10%;
    top: -20%;
    // bottom: -50%;
}

.moon-icon.show {
    opacity: 1; /* 스크롤 시 나타나도록 설정 */
    transform: translateY(0); /* 스크롤 시 위로 이동하는 효과 */

    right: -5%;
    // top: -30%;
    bottom: -90%;
}

.hide:hover {
    right: -5%;
    bottom: 80%;
}

// .moon-icon:hover {
//     box-shadow: 0 0 10px #f9f3f2, 0 0 80px 10px #c7938b;
//     // box-shadow: 0 0 100px rgb(255, 255, 255), 0 0 200px #5f5556;
//     background-color: linear-gradient(8deg, #ffffff, #ffc1c7);
// }

.moon-leader:hover {
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 10px #fff012;
}

.moon-member:hover {
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 10px #ffafa3;
}

// .plus-fixed-wrapper {
//     display: flex;
//     justify-content: flex-end;

//     position: absolute;

//     height: 10vh;
//     position: sticky;
//     bottom: 4%;
//     margin-right: 5rem;
//     z-index: 10;
//     width: 100%;
// }

// .plus-fixed {
//     bottom: 20%;
//     right: 13%;
//     bottom: 15%;
//     z-index: 10;
//     width: 100px;
//     height: 100px;
//     cursor: pointer;
//     border-radius: 50%;

//     @include media('<800px') {
//         right: 10%;
//         bottom: 20%;
//         @include box(70px);
//     }
// }

// .bubbles {
//     position: absolute;
//     top: -20%;
//     left: 0;
//     bottom: 0;
//     right: 0;

//     .bubble {
//         background-color: white;
//         border-radius: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         display: block;
//         z-index: -1;

//         @for $bubble from 1 through 10 {
//             &:nth-child(#{$bubble}) {
//                 $size: 30px;
//                 left: (random(90) + 10) + px;
//                 width: $size;
//                 height: $size;
//                 animation: move-#{$bubble} #{3 + $bubble * 0.02}s infinite;
//                 animation-delay: #{$bubble * 0.2}s;
//             }
//         }
//     }
// }

// @for $bubble from 1 through 10 {
//     @keyframes move-#{$bubble} {
//         0% {
//             transform: translate(0, 0);
//         }
//         99% {
//             transform: translate(0, -(random(80) + 50)) + px;
//         }
//         100% {
//             transform: translate(0, 0);
//             opacity: 0;
//         }
//     }
// }
