@import '../abstracts/variables';
@import '../abstracts/utils';

.main1-div {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    .main-img-div {
        width: 100%;
        position: relative;
        .upload-img {
            width: 100%;
            height: 20vh;
        }

        .upload-img-icon {
            width: 36px;
        }

        label {
            cursor: pointer;
            z-index: 20;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        input {
            display: none;
        }
    }
}

// 명언  CSS
.sample2 {
    width: 480px;
    margin: 50px auto;
}

.sample2 blockquote {
    position: relative;
    border: 1px solid $color-white;
    border-radius: 10px;
    padding: 20px;
    background-color: $color-gray3;
    color: $color-white;
}
.sample2 blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f10d';
    font-size: 20px;
    color: $color-white;
    top: 10px;
    left: 10px;
}
.sample2 blockquote:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f10e';
    font-size: 20px;
    color: $color-white;
    right: 10px;
    bottom: 10px;
}
.sample2 blockquote cite {
    display: block;
    font-size: 0.8rem;
    text-align: right;
    color: $color-white;
    padding-right: 20px;
}

.section-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    // background-color: $color-gray1;
    height: fit-content;
    width: 100%;
    padding: 6rem 0 3rem 0;
}

//=== 명언 스타일링 ===
.console-box {
    background: #222;
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 26vh;
    // width: 70vw;

    .blue {
        color: #53d9d1;
    }
    .pink {
        color: #f27b9b;
    }
    .orange {
        color: #eb7132;
    }

    .console {
        border: 1px solid #444;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.75);
        .top {
            background: #333;
            color: rgb(184, 184, 184);
            text-align: center;
            font-size: 12px;
            padding: 5px;

            .options {
                font-size: 16px;
                float: left;
            }
        }
        .text {
            font-family: courier;
            color: #fff;
            font-size: 14px;
            padding: 1.5rem 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #eb7132;
    // width: fit-content;
    // animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typewriter.animation {
    width: fit-content;
    animation: typing1 1.2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect for the second animation */
@keyframes typing1 {
    from {
        width: 0;
    }
    to {
        width: var(--animation-duration);
        // width: 40%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

// // /* The typing effect */
// @keyframes typing {
//     from {
//         width: 0;
//     }
//     to {
//         width: 60%;
//     }
// }

.input-text {
    background: #fff;
    overflow: hidden;
    width: 440px;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 0.75rem 1rem;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
